.nav {
  height: 50px;
  padding: 10px;
  background: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav li {
  padding: 0.5rem 1.5rem;
}
